In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn import preprocessing
from sklearn.decomposition import PCA

In [2]:
#2.	Lee el archivo CSV llamado empleadosRETO.csv y coloca los datos en un frame de Pandas llamado EmpleadosAttrition.

EmpleadosAttrition=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/empleados RETO.csv")

EmpleadosAttrition.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'HiringDate', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'Attrition'],
      dtype='object')

In [3]:
#3.	Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida. Hay algunas columnas que contienen información que no ayuda a definir el desgaste de un empleado, tal es caso de las siguientes:
#a.	EmployeeCount: número de empleados, todos tienen un 1
#b.	EmployeeNumber: ID del empleado, el cual es único para cada empleado
#c.	Over18: mayores de edad, todos dicen “Y”
#d.	StandardHours: horas de trabajo, todos tienen “80”

df=EmpleadosAttrition.drop(columns=["EmployeeCount","EmployeeNumber","Over18","StandardHours"])

df

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,Yes,13,3,3,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,Yes,11,3,3,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,Yes,14,3,3,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,No,19,3,4,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,No,13,3,4,8,5,3,7,1,No

In [4]:
#Analiza la información proporcionada, si detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’
#Crea una columna llamada Year y obtén el año de contratación del empleado a partir de su fecha ‘HiringDate’. No se te olvide que debe ser un entero.

df["Year"]= df["HiringDate"].str[-4:].astype(int)
fechaact=datetime.now()
df["Yearsincompany"]=(fechaact.year - df["Year"])

df

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,Yearsincompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,10
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,8
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,6
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,13
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,3,8,2,1,4,0,Yes,2013,10
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,3,4,2,3,2,2,Yes,2016,7
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,3,10,1,3,8,0,No,2008,15
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,3,4,7,5,2,0,0,No,2018,5
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,3,4,8,5,3,7,1,No,2010,13

In [5]:
#Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.

df["YearsAtCompany 2018"]=(2018 - df["Year"])

df

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,Yearsincompany,YearsAtCompany 2018
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,3,32,1,2,4,1,No,2013,10,5
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,7,0,3,2,0,No,2015,8,3
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,2,1,3,3,0,1,Yes,2017,6,1
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,4,18,4,3,6,4,No,2010,13,8
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,4,15,2,4,6,7,Yes,2011,12,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,8,2,1,4,0,Yes,2013,10,5
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,4,2,3,2,2,Yes,2016,7,2
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,10,1,3,8,0,No,2008,15,10
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,4,7,5,2,0,0,No,2018,5,0
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,4,8,5,3,7,1,No,2010,13,8

In [6]:
#La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera.
#Renombra la variable DistanceFromHome a DistanceFromHome_km.
#Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.

df.rename(columns={"DistanceFromHome":"DistanceFromHome_km"}, inplace=True)

df["DistanceFromHome"]= df["DistanceFromHome_km"].str.rstrip("km").astype(int)

df

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,Yearsincompany,YearsAtCompany 2018,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,32,1,2,4,1,No,2013,10,5,1
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,7,0,3,2,0,No,2015,8,3,6
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,1,3,3,0,1,Yes,2017,6,1,7
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,18,4,3,6,4,No,2010,13,8,7
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,15,2,4,6,7,Yes,2011,12,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,8,2,1,4,0,Yes,2013,10,5,14
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,4,2,3,2,2,Yes,2016,7,2,20
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,10,1,3,8,0,No,2008,15,10,11
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,7,5,2,0,0,No,2018,5,0,4
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,8,5,3,7,1,No,2010,13,8,14

In [7]:
#Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.

df1= df.drop(columns=["Year","HiringDate", "DistanceFromHome_km"])

df1

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Yearsincompany,YearsAtCompany 2018,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,4,Male,3,4,Research Director,...,3,32,1,2,4,1,No,10,5,1
1,36,Travel_Rarely,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,4,7,0,3,2,0,No,8,3,6
2,21,Travel_Rarely,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,2,1,3,3,0,1,Yes,6,1,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,4,18,4,3,6,4,No,13,8,7
4,33,Travel_Rarely,Research & Development,1,Medical,2,Male,3,3,Manager,...,4,15,2,4,6,7,Yes,12,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,3,Male,3,1,Laboratory Technician,...,3,8,2,1,4,0,Yes,10,5,14
396,31,Travel_Rarely,Sales,3,Life Sciences,2,Female,1,2,Sales Executive,...,3,4,2,3,2,2,Yes,7,2,20
397,37,Travel_Frequently,Research & Development,3,Other,2,Male,3,3,Research Director,...,3,10,1,3,8,0,No,15,10,11
398,38,Travel_Rarely,Research & Development,2,Medical,4,Female,3,1,Laboratory Technician,...,4,7,5,2,0,0,No,5,0,4
399,33,Travel_Rarely,Research & Development,3,Medical,4,Female,3,1,Research Scientist,...,4,8,5,3,7,1,No,13,8,14

In [8]:
df1.columns

Index(['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'Yearsincompany',
       'YearsAtCompany 2018', 'DistanceFromHome'],
      dtype='object')

In [9]:
#Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera una nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.

SueldoPromedioDepto= df1.groupby("Department")["MonthlyIncome"].mean().reset_index()

SueldoPromedioDepto.rename(columns= {"MonthlyIncome":"Sueldopromedio"}, inplace=True)

SueldoPromedioDepto

               Department  Sueldopromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7188.250000

In [10]:
#La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

escalador=preprocessing.MinMaxScaler()

df1["MonthlyIncome_escalado"]= escalador.fit_transform(df1[["MonthlyIncome"]])

df1

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Yearsincompany,YearsAtCompany 2018,DistanceFromHome,MonthlyIncome_escalado
0,50,Travel_Rarely,Research & Development,2,Medical,4,Male,3,4,Research Director,...,32,1,2,4,1,No,10,5,1,0.864269
1,36,Travel_Rarely,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,7,0,3,2,0,No,8,3,6,0.207340
2,21,Travel_Rarely,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,1,3,3,0,1,Yes,6,1,7,0.088062
3,52,Travel_Rarely,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,18,4,3,6,4,No,13,8,7,0.497574
4,33,Travel_Rarely,Research & Development,1,Medical,2,Male,3,3,Manager,...,15,2,4,6,7,Yes,12,7,15,0.664470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,3,Male,3,1,Laboratory Technician,...,8,2,1,4,0,Yes,10,5,14,0.075248
396,31,Travel_Rarely,Sales,3,Life Sciences,2,Female,1,2,Sales Executive,...,4,2,3,2,2,Yes,7,2,20,0.187197
397,37,Travel_Frequently,Research & Development,3,Other,2,Male,3,3,Research Director,...,10,1,3,8,0,No,15,10,11,0.589327
398,38,Travel_Rarely,Research & Development,2,Medical,4,Female,3,1,Laboratory Technician,...,7,5,2,0,0,No,5,0,4,0.121124
399,33,Travel_Rarely,Research & Development,3,Medical,4,Female,3,1,Research Scientist,...,8,5,3,7,1,No,13,8,14,0.092122

In [11]:
"""Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:
a) BusinessTravel

b) Department

c) EducationField

d) Gender

e) JobRole

f) MaritalStatus

g) Attrition
"""

var= ["BusinessTravel","Department", "EducationField", "Gender", "JobRole", "MaritalStatus", "Attrition"]

df2= pd.get_dummies(df1, columns=var)

df2

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Attrition_No,Attrition_Yes
0,50,2,4,3,4,4,17399,9,No,22,...,0,1,0,0,0,1,0,0,1,0
1,36,2,2,3,2,2,4941,6,No,20,...,1,0,0,0,0,1,0,0,1,0
2,21,1,2,3,1,2,2679,1,No,13,...,0,0,0,0,1,0,0,1,0,1
3,52,4,2,3,3,2,10445,7,No,19,...,0,0,0,0,0,0,0,1,1,0
4,33,1,2,3,3,3,13610,7,Yes,12,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,3,1,4,2436,5,Yes,13,...,0,0,0,0,0,0,1,0,0,1
396,31,3,2,1,2,3,4559,3,Yes,11,...,0,0,0,1,0,0,1,0,0,1
397,37,3,2,3,3,4,12185,1,Yes,14,...,0,1,0,0,0,1,0,0,1,0
398,38,2,4,3,1,3,3306,7,No,19,...,0,0,0,0,0,0,1,0,1,0
399,33,3,4,3,1,2,2756,1,No,13,...,0,0,1,0,0,0,1,0,1,0

In [12]:
#Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.

cor= df2.corr()["Attrition_Yes"].sort_values()

cor

<ipython-input-12-26a3cf2800c9>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cor= df2.corr()["Attrition_Yes"].sort_values()

Attrition_No                        -1.000000
JobLevel                            -0.214266
TotalWorkingYears                   -0.213329
Age                                 -0.212121
YearsInCurrentRole                  -0.203918
MonthlyIncome                       -0.194936
MonthlyIncome_escalado              -0.194936
Yearsincompany                      -0.176001
YearsAtCompany 2018                 -0.176001
JobInvolvement                      -0.166785
JobSatisfaction                     -0.164957
EnvironmentSatisfaction             -0.124327
JobRole_Research Director           -0.116263
MaritalStatus_Divorced              -0.107869
JobRole_Healthcare Representative   -0.103274
BusinessTravel_Non-Travel           -0.100698
MaritalStatus_Married               -0.094734
JobRole_Manager                     -0.089885
Department_Research & Development   -0.072269
TrainingTimesLastYear               -0.070884
YearsSinceLastPromotion             -0.069000
PercentSalaryHike                   -0.060880
Education                           -0.055531
EducationField_Medical              -0.054144
JobRole_Manufacturing Director      -0.042404
RelationshipSatisfaction            -0.030945
Gender_Male                         -0.028839
EducationField_Life Sciences        -0.027457
WorkLifeBalance                     -0.021723
NumCompaniesWorked                  -0.009082
PerformanceRating                   -0.006471
EducationField_Other                -0.004275
JobRole_Sales Executive             -0.003115
JobRole_Research Scientist           0.007977
EducationField_Marketing             0.016768
Department_Human Resources           0.023389
Gender_Female                        0.028839
JobRole_Human Resources              0.032714
BusinessTravel_Travel_Frequently     0.035387
BusinessTravel_Travel_Rarely         0.042755
EducationField_Human Resources       0.043404
DistanceFromHome                     0.052732
Department_Sales                     0.066116
JobRole_Laboratory Technician        0.125264
EducationField_Technical Degree      0.129104
JobRole_Sales Representative         0.191294
MaritalStatus_Single                 0.205849
Attrition_Yes                        1.000000
Name: Attrition_Yes, dtype: float64

In [24]:
#Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salidaAttrition; esto es equivalente a borrar las que no cumplen con el límite.

EmpleadosAttritionFinal=df2[["Attrition_Yes","MaritalStatus_Single", "JobRole_Sales Representative", "EducationField_Technical Degree", "JobRole_Laboratory Technician"]]

EmpleadosAttritionFinal

,Attrition_Yes,MaritalStatus_Single,JobRole_Sales Representative,EducationField_Technical Degree,JobRole_Laboratory Technician
0,0,0,0,0,0
1,0,0,0,0,0
2,1,1,1,0,0
3,0,1,0,0,0
4,1,0,0,0,0
...,...,...,...,...,...
395,1,0,0,0,1
396,1,0,0,0,0
397,0,0,0,0,0
398,0,0,0,0,1
399,0,0,0,0,0

In [26]:
# Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción EmpleadosAttritionPCA[:,0]).

x= EmpleadosAttritionFinal.drop("Attrition_Yes", axis=1)

pca= PCA(4)

EmpleadosAttritionPCA=pca.fit_transform(x)

EmpleadosAttritionPCA

array([[-0.25255807, -0.2004767 , -0.08460221, -0.02932115],
       [-0.25255807, -0.2004767 , -0.08460221, -0.02932115],
       [ 0.85534529, -0.1308588 ,  0.63508129, -0.52908025],
       ...,
       [-0.25255807, -0.2004767 , -0.08460221, -0.02932115],
       [-0.40722647,  0.77887829,  0.04374914, -0.05094088],
       [-0.25255807, -0.2004767 , -0.08460221, -0.02932115]])

In [27]:
#Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal. Puedes usar la instrucción assign, columna por columna, llamando a cada unaC0, C1, etc., hasta las que vayas a agregar.


numcom= np.argmax(np.cumsum(pca.explained_variance_ratio_) >= .8) + 1

comprin= EmpleadosAttritionPCA[:,:numcom]

EmpleadosAttritionFinal= EmpleadosAttritionFinal.assign( c0=comprin[:, 0], c1=comprin[:, 1], c2=comprin[:, 2])

EmpleadosAttritionFinal

,Attrition_Yes,MaritalStatus_Single,JobRole_Sales Representative,EducationField_Technical Degree,JobRole_Laboratory Technician,c0,c1,c2
0,0,0,0,0,0,-0.252558,-0.200477,-0.084602
1,0,0,0,0,0,-0.252558,-0.200477,-0.084602
2,1,1,1,0,0,0.855345,-0.130859,0.635081
3,0,1,0,0,0,0.726703,-0.034749,-0.153236
4,1,0,0,0,0,-0.252558,-0.200477,-0.084602
...,...,...,...,...,...,...,...,...
395,1,0,0,0,1,-0.407226,0.778878,0.043749
396,1,0,0,0,0,-0.252558,-0.200477,-0.084602
397,0,0,0,0,0,-0.252558,-0.200477,-0.084602
398,0,0,0,0,1,-0.407226,0.778878,0.043749
399,0,0,0,0,0,-0.252558,-0.200477,-0.084602

In [28]:
# Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal en un archivo CSV llamado EmpleadosAttritionFinal.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.

EmpleadosAttritionFinal.to_csv("EmpleadosAttritionFinal.csv", index=False)